.note {
  padding: 1rem;
  border-left: 4px solid #ccc;
  margin: 1rem 0;
}

.feature-card {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
}

.feature-card-title {
  margin-bottom: 0.5rem;
}

.feature-card-content {
  color: #666;
}

.full-width-background {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 2rem 0;
  background-color: var(--background-color, pink);
}

.full-width-background .content {
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tab-item {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.breadcrumb {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
}

.breadcrumb ol {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.breadcrumb li::after {
  content: "/";
  margin: 0 0.5rem;
}

.breadcrumb li:last-child::after {
  content: "";
}

.highlight {
  background-color: yellow;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.numbered-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.numbered-item-number {
  font-weight: bold;
  margin-right: 1rem;
}

.numbered-item-content {
  flex: 1;
}

.overview {
  width: 80vw;
}

.full-width .content {
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.numbered-list {
  list-style: none;
  margin-left: 1rem;
  max-width: 46rem;
}

.numbered-list-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 2rem;
}

.numbered-list-item-number {
  font-size: var(--text-organism);
  font-weight: bold;
  margin-right: 1rem;
  color: #406d92;
  flex-shrink: 0;
}

.numbered-list-item-content {
  max-width: 60rem;
}

.numbered-list-item-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: var(--text-component);
}
.numbered-list-item-content h3 {
  font-size: var(--text-component);
}
.numbered-list-item-description {
  color: #666;
}
@media (max-width: 480px) {
  .feature-card {
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  .feature-card-title {
    margin-bottom: 0.5rem;
  }

  .full-width-background .content,
  .full-width .content {
    padding: 0 0.5rem;
  }

  .numbered-list {
    margin: 0;
    padding: 0 2rem;
  }

  .numbered-item-content {
    max-width: 100%;
  }
}
