---
export interface Props {
  bgClass?: string;
  sectionClass?: string;
  maxWidth: string;
}

const { bgClass, sectionClass, maxWidth = "40rem" } = Astro.props;
---

<section class={`full-width-background ${bgClass || ""}`}>
  <div class={`section-container ${sectionClass || ""}`}>
    <div class="text-container">
      <slot />
    </div>
  </div>
</section>

<style define:vars={{ mwidth: maxWidth }}>
  .full-width-background {
    width: 100%;
    padding: 5rem 0;
  }

  .section-container {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    position: relative;
  }

  .text-container {
    max-width: 54rem;
    margin: 0 auto;
  }

  .text-container > :not(.full-width-image-container) {
    padding-right: 10vw;
  }

  .text-container > .full-width-image-container {
    margin-left: calc(-50vw + 50%);
  }
</style>
