---
export interface Props {
  bgClass?: string;
  sectionClass?: string;
  maxWidth: string;
  textClass?: string;
}

const { bgClass, sectionClass, maxWidth = "52rem", textClass } = Astro.props;
---

<section class={`full-width-background ${bgClass || ""}`}>
  <div class={`section-container ${sectionClass || ""}`}>
    <div class={`text-container ${textClass || ""}`}>
      <slot class="slot" />
    </div>
  </div>
</section>

<style define:vars={{ mwidth: maxWidth }}>
  .full-width-background {
    width: 100%;
    padding: 5rem 0;
  }

  .section-container {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    position: relative;
  }

  .text-container {
    max-width: var(--mwidth);
    margin: 0 auto;
    padding: 3rem;
  }
</style>
