---
interface Props {}
---

<div class="numbered-list">
  <slot />
</div>

<style>
  .numbered-list {
    list-style: none;
    margin-left: 1rem;
    max-width: 46rem;
    counter-reset: item;
    margin: 0.6rem 0 0rem 1rem;
  }
</style>
