---
interface Props {
  backgroundColor?: string;
  maxWidth?: string;
}

const { backgroundColor, maxWidth } = Astro.props;

const defaultBackgroundColor = "white";
const defaultMaxWidth = "59rem";

const bgcolor = backgroundColor ?? defaultBackgroundColor;
const maxwidth = maxWidth ?? defaultMaxWidth;
---

<section class="section-wrapper">
  <div class="section-container">
    <slot />
  </div>
</section>

<style define:vars={{ bgcolor: bgcolor, mwidth: maxwidth }}>
  .section-wrapper {
    background-color: pink;
    /* max-width: var(--mwidth); */
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    justify-content: center;
  }

  .section-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    min-height: 40vh;
    max-width: var(--mwidth);
  }
</style>
