---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactCTA from "../../components/ContactCTA.astro";
import Icon from "../../components/Icon.astro";
import sectionizePlugin from "../../../sectionizePlugin";
import directive from "../../plugins/directive";
import directiveHighlight from "../../plugins/Highlight";
import directiveBreadcrumb from "../../plugins/Breadcrumb";
import directiveTabs from "../../plugins/Tabs";
import directiveFeatureCard from "../../plugins/FeatureCard";
import directiverRowColumnLayout from "../../plugins/RowColumnLayout";
import nestedDirective from "../../plugins/NestedDirective";
import fullWidthDirective from "../../plugins/FullWidthDirective";
import {
  numberedListDirective,
  numberedItemDirective,
} from "../../plugins/NumberedItem";

interface Props {
  entry: CollectionEntry<"work">;
}

export async function getStaticPaths() {
  const work = await getCollection("work");
  return work.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout
  title={entry.data.title}
  description={entry.data.description}
  hasNav={false}
>
  <div class="">
    <header class="case-study-header">
      <a href="/#work" class="back-link">
        <Icon icon="arrow-left" /> Back to Work
      </a>
    </header>

    <main>
      <div class="banner">
        <img src={entry.data.img} alt="" />
      </div>
      <div class="container">
        <Content components={[]} />
      </div>

      <ContactCTA />
    </main>
  </div>

  <style>
    .banner img {
      width: 100vw;
      object-fit: cover;
    }
    .container {
      max-width: 54rem;
      margin: 0 auto;
      padding: 1rem;
    }

    .content {
      max-width: 60rem;
    }

    .case-study-header {
      text-align: left;
      padding: 1.8rem 2rem 1rem 2rem;
    }

    .back-link {
      display: inline-block;
      margin-bottom: 1rem;
      text-decoration: none;
      color: var(--gray-500);
    }

    .back-link:hover,
    .back-link:focus {
      text-decoration: underline;
    }

    h1 {
      margin-bottom: 1rem;
    }

    .description {
      color: var(--gray-700);
      margin-bottom: 1rem;
      font-size: var(--text-template);
    }

    .tags {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }

    .tag {
      background-color: var(--gray-200);
      color: var(--gray-800);
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
    }

    .main-image {
      width: 100%;
      height: auto;
      margin-bottom: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: var(--shadow-sm);
    }

    .case-study-content h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .case-study-content h3 {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    .case-study-content p {
      margin-bottom: 1.5rem;
    }

    .case-study-content blockquote {
      padding: 1rem;
      border-left: 5px solid var(--accent-color);
      background: var(--gray-100);
      margin: 1.5rem 0;
    }

    .case-study-content a {
      color: var(--primary-color);
      text-decoration: underline;
    }

    .case-study-content a:hover,
    .case-study-content a:focus {
      text-decoration: none;
    }

    @media (min-width: 768px) {
      .main-image {
        grid-column: span 2;
      }
    }
  </style>
</BaseLayout>
